*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
input, textarea, button {
    font-family: 'Roboto Condensed', sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    background-image: url(https://wallpaperbat.com/img/305427-black-pattern-wallpaper-hd.jpg) ;
    background-size: cover;
    background-position: center center;
}
.logo {
    height: 50px;
    width: 50px;

}
.logo img {
    height: 50px;
    width: 50px;
}
.name {
    color: white;
    font-size: xx-large;
    font-weight: 700;
}
.search-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.account-group